.text-updater-node {
    height: auto;
    border: 1px solid #605959;
    padding: 5px;
    border-radius: 5px;
    background: white;
  }
  
  .text-updater-node label {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 10px;
  }
  